@import '../../../styles.scss';

.home{
  padding: 10px 0;
  .inner{
    padding: 10px 0;
    p{
      font-size: 15px;
      padding: 5px 0;
      font-weight: 700;
      color: blue;
    }
    h1{
      font-size: 20px;
    }
    h4{
      font-size: 18px;
      font-weight: 700;
      position: relative;
    }
    ul{
      
      margin-bottom: 0;
      li{

      }
    }
  }
}
