@import '../../../styles.scss';

.home{
  padding: 10px 0;
  .inner{
    padding: 10px 0;
    p{
      font-size: 15px;
      padding: 5px 0;
      font-weight: 700;
    }
    h4{
      font-size: 18px;
      font-weight: 700;
      position: relative;
    }
    ul{
      // list-style: none;
      // padding-left: 0;
      margin-bottom: 0;
      li{

      }
    }
  }
}
