@import '../../../styles.scss';

.home{
  padding: 10px 0;
  .inner{
    padding: 10px 0;
    p{
      margin-bottom: 0;
      font-size: 15px;
      padding: 5px 0;
    }
    h6{
      // padding-top: 5px;
      margin-bottom: 0;
    }
  }
}
